@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="box-login">
        <a id="logoutBtn" class="icon_login" data-toggle="tooltip" data-placement="top" title="LogOut"></a>
    </li>

}
else
{
    @*<li  class="box-login">@Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class = "icon_login"})</li>*@

    @*<li class="box-login">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "navbar-right" })</li>*@
    <li class="box-login">
        <a class="icon_login" id="loginBtn" href="@Url.Action("Login", "Account")" data-toggle="tooltip" data-placement="top" title="Login/Register"></a>
    </li>

}


@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = " d-none" }))
{
    @Html.AntiForgeryToken()


}
<script>
    $("#logoutBtn").click(function () {
        $("#logoutForm").submit();
    });
   
 
</script>

